# Web framework
fastapi
uvicorn[standard]==0.29.0

# Data validation
pydantic
pydantic-settings

# Environment
python-dotenv

# Dashboard 
streamlit
requests

plotly
faiss-cpu
sentence-transformers
pytest

google-auth
google-auth-oauthlib
google-auth-httplib2
PyJWT
bcrypt
streamlit-google-auth